<tr>
  <th scope="row">{{this.id}}</th>
  <td>{{this.nombre}}</td>
  <td>$ {{this.precio}}</td>
  <td><img
      style="width: 3rem"
      src={{this.thumbnail}}
      alt={{this.nombre}}
    /></td>
</tr>